.icon-add           {background-image: url(../images/16/add.png) !important;}
.icon-admin         {background-image: url(../images/16/cog.png) !important;}
.icon-calendar      {background-image: url(../images/16/calendar.png) !important;}
.icon-channels      {background-image: url(../images/16/arrow_switch.png) !important;}
.icon-contacts      {background-image: url(../images/16/book_addresses.png) !important;}
.icon-delete        {background-image: url(../images/16/cross.png) !important;}
.icon-dollar        {background-image: url(../images/16/money_dollar.png) !important;}
.icon-estimate      {background-image: url(../images/16/table.png) !important;}
.icon-light         {background-image: url(../images/16/lightbulb.png) !important;}
.icon-person        {background-image: url(../images/16/user.png) !important;}
.icon-refresh       {background-image: url(../images/16/arrow_refresh.png) !important;}
.icon-save          {background-image: url(../images/16/tick.png) !important;}
.icon-search        {background-image: url(../images/16/magnifier.png) !important;}
.icon-world         {background-image: url(../images/16/world.png) !important;}



.x-box-scroller-left {
    float: left;
    height: 100%;
    z-index: 5;
    background-image: url('../js/lib/extjs/resources/themes/images/default/tab-bar/scroll-left.gif')
}

.x-box-scroller-right {
    float: left;
    height: 100%;
    z-index: 5;
    background-image: url('../js/lib/extjs/resources/themes/images/default/tab-bar/scroll-right.gif')
}


.x-box-inner {
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 140px;

}

.x-btn-icon x-tbar-page-next {
   background-image: url(../js/lib/extjs/resources/themes/images/default/grid/page-next.gif)
}

